/* Контейнер, как в макете */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Хедер */
.header {
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6; /* чтобы было видно границу */
  width: 1200px;
  height: 29px;
  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;
  margin-left: 120px;
  margin-top: 44px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Логотип */
.logo {
  font-weight: 700;
  font-size: 24px;
  color: #244d4d;
  cursor: pointer;
}

/* Меню */
.nav {
  gap: 50px;
  width: 472px;
  height: 21px;
  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 80px;
}
.nav a {
  font-weight: 400;
  font-size: 16px;
  color: #161616;
  text-decoration: none;
}
.nav a:hover {
  color: #437979;
}
.nav a:active {
  color: #80bdff;
}
.nav a:focus {
  color: #355272;
}
/* Иконки справа */
.header__icons {
  display: flex;
  gap: 15px;
}
.icon {
  width: 24px;
  height: 24px;
}
.header__icons {
  cursor: pointer;
  gap: 30px;
}
.make {
  background: #154444;
  width: 1200px;
  height: 560px;
  margin-left: 120px;
}
.make img {
  width: 411px;
  height: 560px;
  margin-left: 0px;
}
.text_container {
  width: 671px;
  height: 231px;
  margin-left: 511px;
  margin-top: -490px;
}
.text_container h1 {
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;
}
.text_container p {
  font-weight: 400;
  font-size: 20px;

  /* line-height: 25px; */
  line-height: 1.25;
  color: #fff;
  font-family: "DM Sans", sans-serif;
}
/* Make_Button */
.make_button {
  width: 172px;
  height: 56px;
  /* background */
  background: #fff;

  font-weight: 400;
  font-size: 20px;

  /* text_button */

  /* line-height: 25px; */
  line-height: 1.25;
  color: #154444;

  /* possition */

  margin-left: 511px;
  margin-top: 35px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.make_button:hover {
  background-color: #d9fefc;
  color: #1f4242;
}
.make_button:focus {
  background-color: #aeceee;
  color: #b2b1b1;
}
.paypal_container {
  width: 1082px;
  height: 133px;
}
.paypal_container p {
  font-weight: 700;
  font-size: 32px;
  color: #244d4d;
  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;

  /* position */

  margin-left: 511px;
  margin-top: 140px;
}
.pay {
  width: 1082px;
  height: 51px;
  display: flex;
  justify-content: center;
  gap: 120px;
  cursor: pointer;

  /* position */

  margin-left: 180px;
  margin-top: 50px;
}
.temp {
  width: 1167px;
  height: 612px;

  /* position */

  margin-left: 136px;
  margin-top: 140px;
}
.temp img {
  width: 631px;
  height: 612px;
}
.temp_text {
  width: 436px;
  height: 517px;
  background-color: #fff;

  /* position */

  margin-left: 800px;
  margin-top: -565px;
}
.about {
  width: 436px;
  height: 135px;
}
.about h2 {
  font-weight: 700;
  font-size: 32px;

  /* line-height: 40px; */
  line-height: 1.25;
  color: #244d4d;

  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;
}
.about p {
  font-weight: 400;
  font-size: 20px;

  /* line-height: 25px; */
  line-height: 1.25;
  color: #444;

  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;
}
.temp_card {
  width: 376px;
  height: 92px;
  margin-top: 40px;
  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;
}
.temp_card p {
  font-weight: 400;
  font-size: 18px;

  /* line-height: 26px; */
  line-height: 1.44444;
  color: #383738;
  margin-left: 70px;
  margin-top: -5px;
}
.temp_card h3 {
  font-weight: 700;
  font-size: 20px;

  /* line-height: 26px; */
  line-height: 1.3;
  color: #244d4d;
  margin-left: 70px;
  margin-top: -55px;
}
.bay_container {
  width: 1200px;
  height: 584px;
  margin-top: 150px;
  background-color: #e7e7e7;
}
.bay_text {
  width: 819px;
  height: 122px;
  background-color: #fff;
}
.bay_text h2 {
  font-weight: 700;
  font-size: 32px;

  /* line-height: 52px; */
  line-height: 1.7;
  text-align: start;
  color: #242424;
  font-family: "DM Sans", sans-serif;
}
.bay_text p {
  font-weight: 400;
  font-size: 20px;

  /* line-height: 27px; */
  line-height: 1.2;
  color: #383738;
  font-family: "DM Sans", sans-serif;
  margin-top: -10px;
}
.next {
  width: 96px;
  height: 40px;
  background-color: #fff;
  margin-left: 1100px;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: -40px;
}
.next svg {
  margin-top: 12px;
}
.photo_bay {
  width: 1200px;
  height: 382px;
  background-color: #c1dcdc;
  margin-top: 80px;
}
.bay_card {
  width: 380px;
  height: 382px;

  box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
}
.bay_card img {
  width: 380px;
  height: 246px;
}
.text_card {
  width: 331px;
  height: 79px;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 24px;
}
.text_card h3 {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 27px; */
  line-height: 1.35;
  color: #242424;
  font-family: "DM Sans", sans-serif;
}
.link_card {
  width: 60px;
  height: 26px;
  margin-left: 275px;
  margin-top: -79px;
  background-color: #fff;
}
.like {
  cursor: pointer;
  background-color: #ef5423;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  fill: #ef5423;
  margin-top: 2px;
}
.link_button {
  cursor: pointer;
  background-color: #e1dede;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  fill: #ef5423;
  margin-top: 2px;
}
.link_card button {
  justify-content: center;
}
.coins {
  font-weight: 500;
  font-size: 24px;

  /* line-height: 31px; */
  line-height: 1.29167;
  color: #154444;
  font-family: "DM Sans", sans-serif;
  margin-top: 25px;
}
.by_now {
  cursor: pointer;
  width: 78px;
  height: 32px;
  background: #244d4d;
  border: none;

  font-weight: 500;
  font-size: 12px;

  /* line-height: 21px; */
  line-height: 1.75;
  color: #fff;

  margin-left: 253px;
}
