/* Контейнер, как в макете */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Хедер */
.header {
  background: #8a6ab6;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6; /* чтобы было видно границу */
  width: 1200px;
  height: 29px;
  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;
  margin-left: 120px;
  margin-top: 44px;
  background: rgba(255, 255, 255, 0.2); /* полупрозрачный фон */
  backdrop-filter: blur(10px); /* размытие заднего фона */
  -webkit-backdrop-filter: blur(10px); /* для Safari */
  border-radius: 15px; /* скругление углов */
  border: 1px solid rgba(255, 255, 255, 0.3); /* легкая рамка */
  padding: 20px;
  color: white; /* текст яркий на фоне */
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Логотип */
.logo {
  font-weight: 700;
  font-size: 24px;
  color: #c5e1e1;
  cursor: pointer;
}
.logo:hover {
  border-radius: 20%;
  transition: 0.4s ease;
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
  transform: scale(1.07);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Меню */
.nav {
  gap: 50px;
  width: 472px;
  height: 21px;
  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 80px;
  margin-top: 5px;
}
.nav a {
  font-weight: 400;
  font-size: 16px;
  color: #191223;
  text-decoration: none;
}
.nav a:hover {
  color: #437979;
  transition: 0.3s ease;
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
  transform: scale(1.07);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.nav a:active {
  color: #80bdff;
}
.nav a:focus {
  color: #355272;
}
/* Иконки справа */
.header__icons {
  display: flex;
  gap: 15px;
}
.icon {
  width: 24px;
  height: 24px;
}
.header__icons {
  cursor: pointer;
  gap: 30px;
}
.make {
  background: #473d55;
  width: 1200px;
  height: 560px;
  margin-left: 120px;
  background: rgba(255, 255, 255, 0.2); /* полупрозрачный фон */
  backdrop-filter: blur(10px); /* размытие заднего фона */
  -webkit-backdrop-filter: blur(10px); /* для Safari */
  border-radius: 15px; /* скругление углов */
  border: 1px solid rgba(255, 255, 255, 0.3); /* легкая рамка */
  padding: 20px;
  color: white; /* текст яркий на фоне */
}
.make img {
  width: 411px;
  height: 560px;
  margin-left: 0px;
}
.text_container {
  width: 671px;
  height: 231px;
  margin-left: 511px;
  margin-top: -490px;
}
.text_container h1 {
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;
}
.text_container p {
  font-weight: 400;
  font-size: 20px;

  /* line-height: 25px; */
  line-height: 1.25;
  color: #fff;
  font-family: "DM Sans", sans-serif;
}
/* Make_Button */
.make_button {
  width: 172px;
  height: 56px;
  /* background */
  background: #8a6ab6;

  font-weight: 400;
  font-size: 20px;

  /* text_button */

  /* line-height: 25px; */
  line-height: 1.25;
  color: #1e1a24;

  /* possition */

  margin-left: 511px;
  margin-top: 35px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.make_button:hover {
  background-color: #8a6ab6;
  color: #1f4242;
  transition: 0.3s ease;
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
  transform: scale(1.07);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.make_button:focus {
  background-color: #aeceee;
  color: #000000;
}
.paypal_container {
  width: 1082px;
  height: 133px;
}
.paypal_container p {
  font-weight: 700;
  font-size: 32px;
  color: #244d4d;
  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;

  /* position */

  margin-left: 511px;
  margin-top: 140px;
  color: #fff;
}
.pay {
  width: 1082px;
  height: 51px;
  display: flex;
  justify-content: center;
  gap: 120px;
  cursor: pointer;

  /* position */

  margin-left: 180px;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.2); /* полупрозрачный фон */
  backdrop-filter: blur(10px); /* размытие заднего фона */
  -webkit-backdrop-filter: blur(10px); /* для Safari */
  border-radius: 15px; /* скругление углов */
  border: 1px solid rgba(255, 255, 255, 0.3); /* легкая рамка */
  padding: 20px;
  color: white; /* текст яркий на фоне */
}
.temp {
  width: 1236px;
  height: 612px;
  background: rgba(255, 255, 255, 0.2); /* полупрозрачный фон */
  backdrop-filter: blur(10px); /* размытие заднего фона */
  -webkit-backdrop-filter: blur(10px); /* для Safari */
  border-radius: 15px; /* скругление углов */
  border: 1px solid rgba(255, 255, 255, 0.3); /* легкая рамка */
  padding: 20px;
  color: white; /* текст яркий на фоне */

  /* position */

  margin-left: 136px;
  margin-top: 140px;
}
.temp img {
  width: 631px;
  height: 612px;
}
.temp_text {
  width: 436px;
  height: 517px;
  background: rgba(255, 255, 255, 0.2); /* полупрозрачный фон */
  backdrop-filter: blur(10px); /* размытие заднего фона */
  -webkit-backdrop-filter: blur(10px); /* для Safari */
  border-radius: 15px; /* скругление углов */
  border: 1px solid rgba(255, 255, 255, 0.3); /* легкая рамка */
  padding: 20px;
  color: white; /* текст яркий на фоне */

  /* position */

  margin-left: 750px;
  margin-top: -600px;
}
.about {
  width: 436px;
  height: 135px;
}
.about h2 {
  font-weight: 700;
  font-size: 32px;

  /* line-height: 40px; */
  line-height: 1.25;
  color: #244d4d;

  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;
}
.about p {
  font-weight: 400;
  font-size: 20px;

  /* line-height: 25px; */
  line-height: 1.25;
  color: #444;

  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;
}
.temp_card {
  width: 350px;
  height: 80px;
  margin-top: 25px;
  font-family: "DM Sans", sans-serif;
  second-family: "Montserrat", sans-serif;
}
.temp_card p {
  font-weight: 400;
  font-size: 18px;

  /* line-height: 26px; */
  line-height: 1.44444;
  color: #383738;
  margin-left: 70px;
  margin-top: -5px;
}
.temp_card h3 {
  font-weight: 700;
  font-size: 20px;

  /* line-height: 26px; */
  line-height: 1.3;
  color: #244d4d;
  margin-left: 70px;
  margin-top: -55px;
}
.bay_container {
  width: 1200px;
  height: 584px;
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.2); /* полупрозрачный фон */
  backdrop-filter: blur(10px); /* размытие заднего фона */
  -webkit-backdrop-filter: blur(10px); /* для Safari */
  border-radius: 15px; /* скругление углов */
  border: 1px solid rgba(255, 255, 255, 0.3); /* легкая рамка */
  padding: 20px;
  color: white; /* текст яркий на фоне */
}
.bay_text {
  width: 819px;
  height: 122px;
  /* текст яркий на фоне */
}
.bay_text h2 {
  font-weight: 700;
  font-size: 32px;

  /* line-height: 52px; */
  line-height: 1.7;
  text-align: start;
  color: #1e1e1e;
  font-family: "DM Sans", sans-serif;
}
.bay_text p {
  font-weight: 400;
  font-size: 20px;

  /* line-height: 27px; */
  line-height: 1.2;
  color: #2a2323;
  font-family: "DM Sans", sans-serif;
  margin-top: -10px;
}
.next {
  width: 96px;
  height: 40px;

  margin-left: 1100px;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: -40px;
}
.next svg {
  margin-top: 12px;
  cursor: pointer;
}
.next svg:hover {
  background-color: #8a6ab6;
}
.photo_bay {
  width: 1200px;
  height: 382px;
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  cursor: pointer;
}
.photo_bay:hover {
  perspective: 1000px; /* включает 3D */
  transition: 0.5s ease;
  transform-style: preserve-3d;
  transform: translateZ(25px); /* карточка как будто выдвигается к экрану */
  transform: translateZ(40px) scale(1.03);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}
.bay_card {
  width: 320px;
  height: 370px;
  background: rgba(255, 255, 255, 0.2); /* полупрозрачный фон */
  backdrop-filter: blur(10px); /* размытие заднего фона */
  -webkit-backdrop-filter: blur(10px); /* для Safari */
  border-radius: 15px; /* скругление углов */
  border: 1px solid rgba(255, 255, 255, 0.3); /* легкая рамка */
  padding: 20px;
  color: white; /* текст яркий на фоне */
  box-shadow: 0 13px 26px 0 rgba(0, 0, 0, 0.07);
  margin-top: -40px;
  margin-left: 30px;
}
.bay_card img {
  width: 320px;
  height: 246px;
}
.text_card {
  width: 331px;
  height: 79px;
  margin-top: 10px;
  margin-left: 24px;
}
.text_card h3 {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 27px; */
  line-height: 1.35;
  color: #242424;
  font-family: "DM Sans", sans-serif;
}
.link_card {
  width: 60px;
  height: 26px;
  margin-left: 275px;
  margin-top: -79px;
}
.like {
  cursor: pointer;
  background-color: #ef5423;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  fill: #ef5423;
  margin-top: 2px;
  margin-left: -50px;
}
.link_button {
  cursor: pointer;
  background-color: #e1dada;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  fill: #ef5423;
  margin-top: 2px;
}
.link_card button {
  justify-content: center;
}
.link_card button:hover {
  perspective: 1000px; /* включает 3D */
  transition: 0.5s ease;
  transform-style: preserve-3d;
  transform: translateZ(25px); /* карточка как будто выдвигается к экрану */
  transform: translateZ(40px) scale(1.03);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}
.coins {
  font-weight: 500;
  font-size: 24px;

  /* line-height: 31px; */
  line-height: 1.29167;
  color: #154444;
  font-family: "DM Sans", sans-serif;
  margin-top: 25px;
}
.by_now {
  cursor: pointer;
  width: 78px;
  height: 32px;
  background: #473d55;
  border: none;

  font-weight: 500;
  font-size: 12px;

  /* line-height: 21px; */
  line-height: 1.75;
  color: #fff;

  margin-left: 200px;
}
.pain_container {
  width: 1186px;
  height: 593px;
  background: rgba(255, 255, 255, 0.2); /* полупрозрачный фон */
  backdrop-filter: blur(10px); /* размытие заднего фона */
  -webkit-backdrop-filter: blur(10px); /* для Safari */
  border-radius: 15px; /* скругление углов */
  border: 1px solid rgba(255, 255, 255, 0.3); /* легкая рамка */
  padding: 20px;
  color: white; /* текст яркий на фоне */
  margin-top: 139px;
}
.pain_text {
  width: 720px;
  height: 103px;

  margin-left: 235px;
}
ul {
  list-style: none; /* убирает точки */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.pain_link {
  text-decoration: none; /* убирает подчёркивание */
  color: inherit; /* пусть цвет идёт от родителя */

  font-weight: 500;
  font-size: 20px;

  /* line-height: 27px; */
  line-height: 1.125;
  color: #3e4949;

  font-family: "DM Sans", sans-serif;
}
.pain_link:hover {
  color: #000000;
  transition: 0.3s ease;
  position: relative;
  padding: 12px 28px;
  background: none;
  border: none;
  cursor: pointer;
}
.pain_link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: rgb(34, 51, 52);
  transition: 0.3s ease;
  transform: translateX(-50%);
}
.pain_link:hover::after {
  width: 100%;
}
.pain_text h2 {
  font-family: "DM Sans", sans-serif;

  font-weight: 700;
  font-size: 30px;

  /* line-height: 48px; */
  line-height: 1.5;
  color: #242424;
  display: flex;
  justify-content: center;
}
.pain_info {
  width: 1186px;
  height: 410px;
  margin-top: 80px;
}
.pain_info img {
  width: 577px;
  height: 410px;
  margin-top: -30px;
}
.info_text {
  width: 474px;
  height: 336px;
  margin-left: 712px;
  margin-top: -370px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* растягивает ровно по ширине контейнера */
  gap: 15px;
}
.info_text img {
  width: calc(52.33% - 25px); /* точно 3 карточки в ряд */
  height: auto;
  display: block;
  cursor: pointer;
}
.info_img:hover {
  background-color: #d1b0f1;
  color: #ffffff;
  transition: 0.3s ease;
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
  transform: scale(1.07);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.bg-video {
  position: fixed; /* фиксируем на фоне */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* чтобы видео закрывало весь экран */
  z-index: -1; /* отправляем за весь сайт */
}
